* {
    box-sizing: border-box;
    margin: 0%;
  }
  
  body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: white;
    max-width: 1250px;
    align-content: center; 
    margin: auto;    
  }
  
  .container{
    margin:10%; 
  }

 img {
    width: 100%;
    margin: auto;
    display: block;
  }
  
 div img.logo {
    float:center;
    width: 350px; 
    height : 350px;
  } 
  
  div div.hometext{
    align-items: center; 
    text-align-last: center;
    margin:auto;
  } 

   
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    cursor: pointer;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    text-decoration: underline;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, 
  make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, 
  make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }

  /* Style the footer */
  footer {
    text-align: left;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index:auto;
  } 
 
  /* Style the top navigation bar */
.bottomnav {
    overflow: hidden;
  }
  
  /* Style the topnav links */
.bottomnav a {
    float: left;
    display: block;
    padding: 16px;
} 